@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header {
  position: relative;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
  color: #dc3d3d;
  transform: scale(1.5);
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 450px;
  background: #fafafa;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;
  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .product {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-cart .product img {
  width: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .product h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .product b {
  color: #797979;
  font-weight: 600;
}

header .shop-cart .product .delete-icon {
  color: #ca5252;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart .product .delete-icon:hover {
  color: #d83030;
  transform: scale(1.5);
}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  color: #5fa36a;
}

header .shop-cart .order-btn-container {
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header .shop-cart .order-btn {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  background: #f2f2f2;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid transparent;
  transition: all 500ms ease;
}


header .shop-cart .order-btn:hover {
  border-color: silver;
  transform: scale(1.05);
}

header .presentation {
  margin: 50px 0;
  background: url('./img/BGImage.jpeg') no-repeat;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #9c9c9c;
  position: relative;
}

header .presentation::after {
  content: 'Лучшие товары';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

header .presentation::before {
  content: 'по низким ценам';
  position: absolute;
  top: 210px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}

.categories div {
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .product {
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .product img {
  width: 100%;
  border-radius: 10px 10px;
  transition: transform 500ms ease;
}

main .product img:hover {
  transform: scale(1.05);
}

.shownOrder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  overflow: auto;
}

.shownOrder .shownOrder-container {
  background: #fff;
  color: #333;
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.shownOrder .shownOrder-container .close-order {
  font-size: 28px;
  cursor: pointer;
  transition: transform 500ms ease;
  margin-left: auto;
  margin-top: -10px;
  margin-bottom: 20px;
}

.shownOrder .shownOrder-container .close-order:hover {
  transform: scale(1.25);
}

.shownOrder .shownOrder-container > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.shownOrder .shownOrder-container > div p {
  font-size: 22px;
  margin-bottom: 30px;
}

.shownOrder .shownOrder-container div .order-product {
  margin: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
}

.shownOrder .shownOrder-container .order-product b {
  color: #333;
  margin: 10px;
  align-self: center;
  font-size: 16px;
}

.shownOrder .shownOrder-container .order-product h2 {
  color: #333;
  align-self: center;
  font-size: 16px;
}

.shownOrder .shownOrder-container .client-data .inner-data {
 padding: 20px 5px;
 display: flex;
 align-items: center;
 flex-direction: column;
}

.shownOrder .shownOrder-container .client-data .inner-data p {
  font-size: 18px;
  text-align: center;
}

.shownOrder .shownOrder-container .client-data .inner-data input,
.shownOrder .shownOrder-container .client-data .inner-data textarea {
  display: block;
  width: 95%;
  padding: 0px 20px;
  margin-bottom: 10px;
  background: #e9eff6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
}

.shownOrder .shownOrder-container .client-data .inner-data input[type="button"]{
  margin-top: 30px;
  margin-bottom: -20px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: .2s linear;
}

.shownOrder .shownOrder-container .client-data .inner-data input[type="button"]:hover {
  background: #d87d56;
}

.shownOrder .shownOrder-container .client-data .inner-data textarea {
  resize: none;
}

main h2,
.shownOrder h2,
main h4,
main p,
main b,
.shownOrder b {
  margin: 10px 20px;
  color: #333;
}

main b, .shownOrder b {
  color: #5fa36a;
  font-size: 18px;
}

main p {
  opacity: .5;
  font-size: 16px;
  padding-bottom: 10px;
  margin-top: -5px;
}

main h4 {
  padding-bottom: 10px;
}

main .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover {
  transform: scale(1.5) translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 100px;
}